{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <label for="old-password">Enter your current password:</label>
            <input autocomplete="off" autofocus class="form-control" name="old-password" type="password">
        </div>
        <div class="form-group">
            <label for="new-password">Enter your new password:</label>
            <input class="form-control" name="new-password" type="password">
        </div>
        <div class="form-group">
            <label for="confirmation">Repeat your new password:</label>
            <input class="form-control" name="confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
